*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #00BCD4;
    font-family: arial;
}
.title-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 417px;
}
.flip-card{
    cursor: pointer;
}
.back, .front {
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s linear;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    background: #fff;
}
.back {
    padding: 120px;
    text-align: center;
    vertical-align: middle;
    transform: perspective(600px) rotateX(180deg);
}
.back p {
    font-size: 18px;
    line-height: 26px;
    margin: 15px 0px 10px;
}
.back p a {
    color: #03bcd4;
    text-decoration: none;
    letter-spacing: 2px;
    float: right;
    margin-top: 50px;
}
.card-rotate .back{
    transform: perspective(600px) rotateX(0deg);
}
.card-rotate .front{
    transform: perspective(600px) rotateX(-180deg);
}
.front {
    padding: 120px;
    text-align: center;
    vertical-align: middle;
}
.client-photo {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin-right: 25px;
    overflow: hidden;
    border: 1px solid #ddd;
    float: left;
    padding: 7px;
}
.client-photo img {
    width: 100%;
}
.client-name h3 {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #03bcd4;
    margin: 50px 0px 10px;
}

.swiper{
  width: 600px;
  height: 300px;
}
  
.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #fff;
  color: #00BCD4
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #5627A4;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #fff;
}